<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--前後入れ替えする文字-->
		<add key="splitChar" value="="/>
		<!--除外する最後の文字-->
		<add key="lastChar" value=""/>
	</appSettings>
</configuration>